*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(9, 71, 31)), url(images/soundwave2.jpeg);
    background-position: center;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 90px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color:blue;
    font-size: 20px;
}

.header {
    width: 90%;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1{
    font-size: 65px;
}

<!------ 1989 ------->

.row {
    background-color: blue;
}
